html {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-image: url("../img/pattern.png");
    background-color: 	#6495ED;
    background-size: 200px;
    background-repeat: repeat;
}

#Logo{
    width: 10%;
}

#Sfondo{
    background-color: white;
}